.login-content{
  --background: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login-box{
  background: white;
  text-align: center;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-family: fantasy;
}

ion-item{
  margin-bottom: 15px;
  --background: white;
}

.registro{
  --background: rgb(65, 228, 28);
  color: black;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.forgot{
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
ion-input{
  color: black;
  font-size: 14px;
}