<ion-content class="login-content">

  <div class="login-box" >

    <h1>REGISTRARSE</h1>

    <ion-item>
      <ion-input
        label= "Nombre(s):"
        labelPlacement="stacked"
        type="name">
      </ion-input>
    </ion-item>

        <ion-item>
      <ion-input
        label="Apellido(s):"
        labelPlacement="stacked"
        type="lastname">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Contraseña:"
        labelPlacement="stacked"
        type="password"
        placeholder="Ingresa una contraseña">
      </ion-input>
    </ion-item>

        <ion-item>
      <ion-input
        label="Confirmar Contraseña:"
        labelPlacement="stacked"
        type="password"
        placeholder="Confirma tu contraseña">
      </ion-input>
    </ion-item>

    <ion-button class="registro" expand="block">
      REGISTRARSE
    </ion-button>

  </div>

</ion-content>
